.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6d48e5;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: px;
}
.first div p {
    font-size: 15px;
}

.mylinks{
    color: white;
}
.numbers{
    display: flex;
    gap: 40px;
    font-size: 35px;
}
.second2{
    display: flex;
    justify-content: center;
    gap: 15vw;

}
.second3{
    display:flex ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo h1{
    color: #6d48e5;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.links a{
    color: grey;
}
.links button{
    height: 5vh;
    width: 5vw;
    border-radius: 5px;
    border: none;
    background-color:#6d48e5;
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.header2 h1{
    font-size: x-large;
}
.header2 p{
    color: grey;
}
.header2 button{
    width: 18vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color:#6d48e5;
    color: white;
    font-size: large;
}
.header3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
