/* Hero Section */
.hero {
    padding: 60px 20px;
    background-color: #6d48e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.hero h1 {

    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

/* Subheading */
.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: white;
}

/* Stats */
.stats {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
    color: white;
    align-items: center;
}

.stats div {
    text-align: center;
    
}

.stats strong {
    font-size: 2.5em;
    font-weight: bold;
}

/*  Link */
.linkp {
    display: inline-block;
    color: white;
    text-decoration: underline;
    font-size: 1em;
    margin-top: 20px;
}


/* section2 */


.features-section {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

/* Layout Container */
.features-container {
    display: flex;
    align-items: center;

    gap: 50px;
}

/* Left Side - Features */
.features {
    display: flex;
    flex-direction: column;
    text-align: start;
    
}

.feature {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5vh;
    gap: 30px;
}



.feature h3 {
    
    font-size: 1.2em;
    color: #333;
}

.feature p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #777;
}

/* Right Side - Image */


.image-container img {
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.logo h1{
    color: #6d48e5;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.links a{
    color: grey;
}
.links button{
    height: 5vh;
    width: 5vw;
    border-radius: 5px;
    border: none;
    background-color:#6d48e5;
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.header2 h1{
    font-size: x-large;
}
.header2 p{
    color: grey;
}
.header2 button{
    width: 18vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color:#6d48e5;
    color: white;
    font-size: large;
}
.header3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec1-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1-title h1{
    font-size: x-large;
}
.sec1-title p{
    color: grey;
    width: 50vw;
    text-align: center;
}
.sec1-icons{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
}
.icn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icn p{
    color: grey;
    text-align: center;
    width: 23vw;
}
.icn h4{
    color: #525254;
}
.icn i{
background-color: #ece7fe;
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
padding: 10px;
color: grey;
}
.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sec2-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec2-title h1{
    font-size: 30px;
}
.sec2-title p{
    width:47vw;
    color: grey;
    text-align: center;
}
.sec2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}
.dynamic{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.dynamic h1{
    font-size: 22px;
    font-weight: 500;
}
.dynamic p{
    width:20vw;
    color: grey;
}
.dynamic a{
    color: rgb(181, 190, 187);
}
.dynamic span{
    border-bottom: 2px solid rgb(181, 190, 187) ;
}
/* last part  */

.container {
    text-align: center;
    background-color:#f6f6fd;
    padding-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
.headtext{
    color: #c2ccda;
    font-size:20px ;
    padding-bottom: 15px;
}
.headline {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

.email_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-input {
    width: 20vw;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

.signup-button {
    width: 20vw;
    padding: 12px;
    background-color: #7c3aed;
    color: white;
    border: none;
    border-radius: 4px;
    
}

.signup-button:hover {
    background-color: #6d28d9;
}

.menu , input , .links .fa-xmark{
    display: none;
}
.trial-text {
    color: #718096;
    font-size: 14px;
    margin-top: 10px;
}

.footer {
    padding-top: 15vh;
    display: flex;
    
    justify-content: space-evenly;
    color: #718096;
    font-size: 12px;
}
.purple{
    color: #6d28d9 ;

}

.social-links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start

}

.social-links a {

    color: #718096;
    text-decoration: none;
    margin: 0 35px;
}
@media (max-width:426px) {

    .stats{
        flex-direction: column;
        gap: 1vw;
    }
    .image-container img{
        width: 350px;
    }
    .email-input{
        width: 180px;
    }
    .signup-button{
        width: 180px;
    }



    .features-container , .features-section{
        flex-direction: column;
    }
    .footer{
        padding-top: 20px;
        flex-direction: column;
        gap: 1vh;
    }
    .social-links{
        flex-direction: column;
        gap: 1.5vh;
    }

}

@media (max-width:426px) {
    body{
        width: 100vw;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo .menu {
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75vw;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
    }
    nav{
        display: flex;
        position: relative;
    }
    .links button{
        width: 20vw;
    }
    .menu i , a{
        color: #6d48e5;
        font-size: 20px;
    }
    .menu a{
        font-weight: bold;
    }
    .header2 button{
        width: 40vw;
    }
    .sec1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec1-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header , .sec1-icons p , .sec2-title p , .dynamic p , .sec1-title p{
        width: 100%;
    }
     .mobile{
        width: 80vw;
        height: 130vh;
        padding: 50px 50px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        background-color: #6d48e5;
        position: absolute;
        top: -20px;
        left: -396px;
        transition: 0.5s ease;
    }
    .mobile a{
        color: white;
    }
    #respo:checked +.mobile {
        left:276px;
    }
    .links .fa-xmark{
        display: block;
        position: absolute;
        top: 10px;
        right:20px ;
    }
    .fa-xmark{
        color: white;
        font-size: xx-large;
    }
} 
